.container_playerInformation {
  margin: 90px;
  left: 100px;
  right: 0;
  top: 0;
  position: absolute;
  width: 80%;
}

.nav_block {
  background-color: white;
  height: 50px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0px;
}

.nav_block label {
  margin-top: 10px;
}

.action_container {
  position: absolute;
  right: 0;
  top: 10px;
}

.action_container svg {
  cursor: pointer;
}

.player_information {
  width: 100%;
  display: flex;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 5px;

  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  height: 60vh;
}

#player_name {
  font-size: 25px;
  margin-left: 10%;
  margin-top: 10px;
}

.personal_player_information {
  display: grid;
  grid-template-columns: 200px 200px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 150px;
}

.personal_player_information p,
.personal_player_information h5 {
  color: white;
}

@media (max-width: 992px) {
  .container_playerInformation {
    left: 60px;
    position: absolute;
    width: 80%;
  }

  #player_name {
    font-size: 20px;
    margin-left: 0%;
    margin-top: 10px;
  }

  .player_information img {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .container_playerInformation {
    margin: 0px;
    left: 0px;
    right: 0;
    top: 80px;

    position: absolute;
    width: 100%;
  }

  .player_information {
    width: 100%;
    display: flex;
    background-color: #303030;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;

    flex-direction: column;
    height: 100%;
  }

  .personal_player_information {
    grid-template-columns: auto;

    position: initial;
    margin: auto;
  }

  .player_information img {
    width: 70%;

    margin: auto;
  }

  #player_name {
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
  }
}
