.empty_content {
    background-color: white;
    border-radius: 10px;

    margin: auto;
    width: 400px;
    margin-top: 30px;
}

.empty_content img {
    margin: 20px;
    width: 400px;
    height: 300px;
}

.empty_content p {
    color: #FF768E;
    font-size: 25px;
    margin-left: 130px;
}

.empty_content label {


    margin-left: 100px;
}

@media(max-width:992px) {
    .empty_content {
        margin: 0;
    }

    .empty_content {

        margin-top: 40px;
    }
}

@media(max-width:600px) {
    .empty_content {
        margin: 0px;
        margin-top: 10px;
        width: 100%;
        height:100%;
    }

    .empty_content img {
        margin: 50px;
        
        height: 95%;
    }



}