.container_login {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    position: relative;
}

.page_title {
    height: 20px;
    font-size: 25px;
}

#signin_image {
    width: 800px;
    height: 100%;
}

.login_input {
    width: 40%;
    height: 40%;

    margin-top: 10%;
}

.inputBox {
    width: 80%;
    height: 80%;
    position: relative;
}

.inputBox input {
    border-radius: 3px;
    background-color: #f6f6f6;
    border: 0;
    width: 100%;
    height: 35px;
}

.inputBox input:hover {
    background-color: #9c9c9c;
}

.inputBox input:focus {
    outline-color: rgb(90, 90, 182);
}

#button_login {
    border: 0;
    outline: 0;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    background-color: #d33864;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 10px;
}

#button_login :hover {
    background-color: #cf5678;
}

@media (max-width: 990px) {
    .login_input {
        width: 60%;
        height: 60%;
        margin-left: 10%;
    }
    #signin_image {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .container_login {
        flex-direction: column;
    }

    #signin_image {
        display: none;
    }

    .page_title {
        margin-left: 30%;
    }

    .login_input {
        width: 90%;
        height: 100%;
        margin-top: 30%;
        margin-left: 10%;
    }
}
