.container {
  width: 70%;
  height: 565px;
  background-color: white;
  margin: 120px;
  left: 140px;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 5px;
}

.container_editteam {
  display: flex;
  margin: 50px;
}

.inputBox {
  width: 80%;
  height: 80%;
  position: relative;
  left: 200px;
}

.inputBox label {
  width: 700px;
}
.inputBox input::-webkit-outer-spin-button,
.inputBox input::-webkit-inner-spin-button {
  display: none;
}

.inputBox input {
  border-radius: 3px;
  background-color: #f6f6f6;
  border: 0;
  width: 366px;
  height: 40px;
}

.inputBox input:hover {
  background-color: #9c9c9c;
}

.inputBox input:focus {
  outline-color: rgb(90, 90, 182);
}

#cancel_button {
  outline: 0;
  border-color: #9c9c9c;
  color: gray;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
  width: 171px;
  margin-top: 20px;
}

#cancel_button:hover {
  background-color: #9c9c9c;
}

#save_button {
  border: 0;
  color: white;
  background-color: #e4163a;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
  width: 171px;
  margin-left: 10px;
}

#save_button:hover {
  background-color: #cf5678;
}

.upload_image {
  width: 50%;
  height: 50%;
  background-color: #d1d1d1;
  border-radius: 10px;
  position: relative;
  left: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  display: flex;
  cursor: pointer;
}

.upload_image label {
  width: 336px;
  height: 261px;
  cursor: pointer;
}

.upload_image img {
  position: absolute;
  left: 40%;
  top: 35%;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    left: -100px;
  }

  #save_button {
    margin-left: 0;
  }

  .upload_image label {
    width: 150px;
    height: 200px;
  }

  .inputBox {
    left: 100px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 90%;
    background-color: white;
    margin: 0px;
    left: 0;

    top: 100px;
    position: absolute;
  }

  .container_editteam {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .upload_image {
    width: 185px;
    height: 144px;
    background-color: #d1d1d1;
    border-radius: 10px;
    position: relative;
    margin: auto;
  }

  .upload_image img {
    top: 30%;
    width: 50px;
    height: 50px;
  }

  .inputBox {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    top: 400px;
    left: 20%;
    margin: auto;
  }

  .inputBox label {
    width: 200px;
  }

  .inputBox input {
    width: 327px;
  }

  #cancel_button {
    width: 152px;
  }

  #save_button {
    width: 152px;
  }
}
