.card_container {
  width: 364px;
  height: 380px;

  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);

  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;

  margin: 25px;
  margin-left: -1px;
  cursor: pointer;
}

.card_container img {
  margin: auto;
  width: 274px;
  height: 207px;
  margin-top: 74px;
}

.carousel_caption {
  background-color: #303030;
  width: 100%;
  height: 100px;

  margin-top: auto;
  padding-top: 1.25rem;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
}

@media (max-width: 600px) {
  .card_container {
    width: 170px;
    height: 180px;
    flex-direction: column;
    margin: 15px;
    margin-left: 50px;
  }

  .card_container img {
    width: 121px;
    height: 92px;
    margin-top: 10px;
  }
  .carousel_caption {
    width: 170px;
    position: absolute;
    margin-top: 100px;
    padding-bottom: 0;
  }
  .carousel_caption h5 {
    font-size: 15px;
  }

  .carousel_caption p {
    font-size: 13px;
  }
}
