.container {
    width: 70%;
    height: 85%;
    background-color: white;
    margin: 80px;
    left: 180px;
    right: 0;
    top: 0;
    position: absolute;

}

.container_editplayer {
    display: flex;
    margin: 50px;
}

.inputBox {
    width: 80%;
    height: 80%;
    position: relative;
    left: 100px;
}

.inputBox input::-webkit-outer-spin-button,
.inputBox input::-webkit-inner-spin-button {
    display: none;
}

.inputBox input {
    border-radius: 3px;
    background-color: #F6F6F6;
    border: 0;
    width: 70%;
    height: 35px;
}

.inputBox input:hover {
    background-color: #9C9C9C;
}

.inputBox input:focus {
    outline-color: rgb(90, 90, 182);
}


.personal_data_container {
    display: grid;
    grid-template-columns: 170px 25% 170px 25%;
    grid-template-rows: 80px auto auto auto;
}

.personal_data_container input {
    width: 100%;
    margin-top: 30px;
    margin-left: -170px;
}


#cancel_button {
    outline: 0;
    border-color: #9C9C9C;
    color: gray;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    height: 40px;
    width: 130px;
    margin-top: 20px;
}

#cancel_button:hover {
    background-color: #9C9C9C;
}

#save_button {

    border: 0;
    color: white;
    background-color: #d33864;
    border-radius: 5px;
    margin: 5px;
    height: 40px;
    width: 130px;
    margin-left: 31%;
}

#save_button:hover {
    background-color: #cf5678;
}

.upload_image {
    width: 50%;
    height: 50%;
    background-color: #d1d1d1;
    border-radius: 10px;
    position: relative;
    left: 20px;
}

.upload_image label {
    width: 300px;
    height: 200px;

}

.upload_image svg {

    position: absolute;
    left: 45%;
    top: 35%;

}

@media(max-width:992px) {
    .container {

        left: 80px;

    }

    .container_editplayer {
        display: flex;
        margin: 10px;
    }

    .personal_data_container {
        display: grid;
        grid-template-columns: 100px auto auto auto;

    }

    .personal_data_container input {
        width: 100%;
        margin-top: 30px;
        margin-left: -100px;
    }

    .upload_image {
        width: 30%;
        height: 50%;

    }

    #cancel_button {
        margin-top: 0px;
    }


    #save_button {

        margin-left: 0%;
    }
}

@media(max-width:600px) {
    .container {
        width: 100%;
        height: 90%;
        background-color: white;
        margin: 0px;
        left: 0;

        top: 100px;
        position: absolute;

    }

    .container_editplayer {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .upload_image {
        width: 90%;
        height: 150px;
        background-color: #d1d1d1;
        border-radius: 10px;
        position: relative;
        left: 10px;
    }

    .inputBox {
        width: 90%;
        height: 90%;

        left: 10px;
    }

    .inputBox input {

        width: 100%;

    }

    .personal_data_container {
        display: grid;
        grid-template-columns: 100px 38% auto 41%;
        grid-template-rows: initial initial initial initial;
    }

    #cancel_button {
        margin-left: -2px;
        width: 40%;
    }


    #save_button {
        width: 40%;
        margin-left: 17%;
    }
}