.container_signup {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;

  width: 100%;
  height: 100vh;
  position: relative;
}

.page_title {
  font-size: 36px;
  margin-left: 15px;
}

.image_container {
  background-color: #f5fbff;
  width: 834px;
  display: flex;
}
.image_container img {
  width: 660px;
  height: 414px;
  margin: auto;
}
.signup_input {
  width: 40%;
  height: 40%;

  margin: auto;
  margin-left: 100px;
  margin-top: 80px;
}

.inputBox {
  width: 80%;
  height: 80%;
  position: relative;
  margin: 15px;
}
.inputBox label {
  width: 300px;
}
.inputBox input {
  border-radius: 3px;
  background-color: #f6f6f6;
  border: 0;
  width: 336px;
  height: 40px;
}

.inputBox input:hover {
  background-color: #9c9c9c;
}

.inputBox input:focus {
  outline-color: rgb(90, 90, 182);
}

#button_signup {
  border: 0;
  outline: 0;
  width: 336px;
  height: 35px;
  border-radius: 5px;
  background-color: #e4163a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
}

#button_signup:hover {
  background-color: #cf5678;
}

.agreeement_box {
  margin-left: 15px;
}

@media (max-width: 990px) {
  .signup_input {
    width: 60%;
    height: 60%;
    margin-left: 10%;
  }

  .image_container img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container_signup {
    flex-direction: column;
  }

  .image_container img {
    display: none;
  }

  .page_title {
    margin-left: 100px;
    width: 150px;
  }

  .signup_input {
    height: 100%;
    margin-left: 0%;
  }
  #button_signup {
    width: 327px;
  }
  .inputBox input {
    width: 327px;
  }
}
