.container_teamInformation {
  margin: 90px;
  left: 90px;
  right: 0;
  top: 0;
  position: absolute;
  width: 80%;
}

.nav_block {
  background-color: white;
  height: 50px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0px;
}

.nav_block label {
  margin-top: 10px;
}

.action_container {
  position: absolute;
  right: 0;
  margin-top: -45px;
}

.action_container svg {
  cursor: pointer;
}

.team_information {
  width: 100%;
  display: flex;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 5px;

  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  height: 400px;
}

.team_information img {
  width: 200px;
  height: 200px;
  margin: 100px;
}

#team_name {
  font-size: 25px;
  margin-left: 18.5%;
  margin-top: 0px;
}

.detailed_team_information {
  display: grid;
  grid-template-columns: 200px 100px 200px 100px;
  grid-template-rows: auto auto auto auto;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 100px;
}

.detailed_team_information p {
  margin-top: 30px;
  margin-left: -198px;
}

.detailed_team_information p,
.detailed_team_information h5 {
  color: white;
}

.table_container {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .container_teamInformation {
    left: 80px;
    position: absolute;
    width: 80%;
  }

  #team_name {
    font-size: 20px;
    margin-left: 0%;
    margin-top: 10px;
  }

  .detailed_team_information {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto auto auto auto;
    position: absolute;
  }

  .detailed_team_information p {
    margin-top: 45px;
    margin-left: -95px;
  }

  .team_information img {
    margin: 50px;
  }
}

@media (max-width: 600px) {
  .container_teamInformation {
    margin: 0px;
    left: 0px;
    right: 0;
    top: 90px;

    position: absolute;
    width: 100%;
    height: 100%;
  }

  .team_information {
    width: 100%;
    display: flex;
    background-color: #303030;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;

    flex-direction: column;
    height: 100%;
  }

  .detailed_team_information {
    grid-template-columns: auto;
    grid-template-rows: 40px 40px 40px 40px;

    position: initial;
    margin: auto;
  }

  .detailed_team_information p {
    margin-top: 0px;
    margin-left: 0px;
  }

  .team_information img {
    margin: auto;
  }

  #team_name {
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
  }
}
