.container_teamInformation {
  margin: 130px;
  left: 100px;
  right: 0;
  top: 0;
  position: absolute;
  width: 80%;
}

.nav_block {
  background-color: white;
  height: 69px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0px;
}

.nav_block label {
  margin-top: 20px;
}

.action_container {
  position: absolute;
  right: 0;
  margin-top: -45px;
}

.action_container svg {
  cursor: pointer;
}

.team_information {
  width: 100%;
  display: flex;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 5px;

  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  height: 400px;
}

.team_information img {
  width: 210px;
  height: 210px;
  margin: 100px;
}

#team_name {
  font-size: 36px;
  margin-left: 10%;
  margin-top: 50px;
  font-weight: bold;
}

.detailed_team_information {
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-rows: 100px;
  position: absolute;
  right: 0;
  top: 200px;
}

.detailed_team_information b {
  color: white;
  font-size: 24px;
}

.detailed_team_information p {
  color: white;
}

.table_container {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .container_teamInformation {
    left: 80px;
    position: absolute;
    width: 80%;
  }

  #team_name {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
  }
  .detailed_team_information {
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 100px;
    position: initial;
    margin-left: -200px;
    margin-top: 100px;
  }

  .team_information img {
    margin: 50px;
  }
}

@media (max-width: 600px) {
  .container_teamInformation {
    margin: 0px;
    left: 0px;
    right: 0;
    top: 90px;

    position: absolute;
    width: 100%;
    height: 100%;
  }

  .team_information {
    width: 100%;
    display: flex;
    background-color: #303030;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;

    flex-direction: column;
    height: 590px;
  }

  .detailed_team_information {
    grid-template-columns: auto;

    position: initial;
    margin: auto;
  }

  #block_year_foundation p {
    margin-left: 80px;
  }

  #block_division p {
    margin-left: 70px;
  }

  #block_division b {
    margin-left: 50px;
  }

  #block_conference b {
    margin-left: 30px;
  }

  #block_conference p {
    margin-left: 70px;
  }

  .team_information img {
    margin: auto;
  }

  #team_name {
    width: 200px;
    margin: auto;
    margin-top: 0px;
  }
}
